<div class="blog" id="blog-page-{{ page.id }}">
  {% for post in page.blog.most_recent_blog_posts limit:5 offset:0 %}
    <div class="page-excerpt" id="blog-post-page-{{ post.id }}">
      <h3><a href="{{ post.url }}">{{ post.headline }}</a></h3>

      <div class="byline">
        {% comment %}Posted by {{ post.author.published_name_linked }} &middot; {% endcomment %}{{ post.published_at | date: '%B %d, %Y &middot; %l:%M %p' }}
      </div>

      <div class="excerpt">
        <p>{{ post.blog_post.content | truncatewords:50 | strip_html }}</p>

        <span class="read-more"><a href="{{ post.url }}">Read more</a></span>

      </div>

      {% comment %}{% if post.show_stream? %}

      <a href="{{ post.url }}#addreaction" class="button small-button">
      {% if post.public_activities_count > 0 %}
        {{ post.public_activities_count }} reaction{% if post.public_activities_count > 1 %}s{% endif %}
      {% else %}
        Add your reaction
      {% endif %}
      {% endif %}
      </a>
      {{ "Share" | share_button page_id: post.id }}
      {% endcomment %}
    </div>

    <hr/>
    {% endfor %}
  </div>